*.aux
*.bbl
*.blg
*.dvi
*.idx
*.log
*.toc
*.ilg 
*.ind 
*.out 
*.loa 
*.lon 
*.fls 
*.fdb_latexmk
*.axp
*.vtc
*.ps
*.xml 
# note for pdf: latex/*/fig/*.pdf can be added, but latex/*.pdf cannot
*.pdf
./lipics/*.pdf
./jcompmain/*.pdf
./emainarim/*.pdf
\#*
.\#*
#
*~
*.zip 
.ehist
.DS_Store
#*

